<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">

        <div class="about-the-author">
                <!--<h3 class="author-title">About the Author</h3>-->
                <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="author-image">
                    <!--<img src="./img/Leslye.jpg">-->
                    </div>
                    <div class="author-social">
                    <a href="#">
                        <span class="fa-stack fa-lg facebook">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack fa-lg twitter">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack fa-lg linkedin">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </div>
                </div>
                <div class="small-12 medium-8 columns">
                    <h4 class="separator-left">Dr. Leslye D'Ingianni D.V.M</h4>
                    <p>Ross University School of Veterinary Medicine, Doctor of Veterinary Medicine</p>
                    <p><span class="head-info">Why do I enjoy working with animals or being in veterinary medicine?</span><br>Every day is a surprise, a challenge, a small kiss, a soft purr, gentle nicker, can teach  and remind you to love and cherish life.</p>
                    <p><span class="head-info">Hobbies:</span><br>
                    Gardening, yoga, photography, reading, renovations (electrical, sheetrock, etc.)</p>
                    <p><span class="head-info">Career/Life Highlights</span><br>
                        <ul>
                        <li>Raising all of my own organic food on a 30 acre farm I built from the ground up.</li> 

                        <li>Renovation of 7 homes now rental real estate, all of my tenants must have a pet(s)</li>

                        <li>Owner of a classic auto body restoration business</li>
                        </ul>
                    </p>
                </div>
                <!--<div class="large-12 columns">
                    
                </div>-->
                </div>
            </div>

        </div>      
    </div>
</div>