<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
        <div class="article-row-section">
          <div class="article-row-section-inner">
            <!--<h2 class="article-row-section-header">News</h2>-->
            <!--<a href="#">-->
              <article class="article-row">
                <div class="article-row-img">
                  <img src="assets/img/dogs_hero.png" alt="" />
                </div>
                <div class="article-row-content">
                  <h1 class="article-row-content-header">COMMITTED TO YOUR PETS CONTINUED CARE</h1>
        
                  <p class="article-row-content-description">At Four On The Floor Veterinary Clinic we love welcoming new patients and friends to our practice. We offer a variety of services for your pets, from regular well-checkups to surgical and dental needs. We are committed to providing your pets with the longest, happiest, healthiest, pain-free life possible. Give us a call to set up an appointment today. We look forward to meeting you and your pets!</p>

                  <!--<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.</p>-->
                </div>
              </article>
            <!--</a>-->
        </div>
      </div>
    </div>
  </div>
</div>